<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>doConnect</h1>
    <span class="menu-spacer"></span>
    <div style="margin-left: 65%" *ngIf="isHome">
      <a mat-button *ngFor="let i of links" [routerLink]="'/' + i"> {{ i }} </a>
      <a mat-button [routerLink]="'/'"> Logout </a>
    </div>
    <div style="margin-left: 80%" *ngIf="!isHome">
      <a mat-button [routerLink]="'/'"> Home </a>
      <a mat-button [routerLink]="'Register'"> Register</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
